* {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Bree Serif', serif;
    font-weight: bold;
}

h4 {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
}

footer {
    background-color: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-style: normal;
}

footer {
    display: block;
    width: auto;
}

footer hr {
    color: white;
}

p {
    font-family: 'Helvetica', sans-serif;
    font-size: 14pt;
    font-style: normal;
    font-weight: 400;
}

figure:hover {
    opacity: 0.8;
}