@media (min-width: 100px) {
    .carousel__slide img {
        object-fit: contain; 
        width: 100%; 
        height: auto; 
  }
}

@media screen and (max-width: 600px) {
    .carousel__thumbnails li {
        max-width: calc((100% / 2) - 20px);
    }
}

@media (max-width: 576px) {
    /* About Me */
    #aboutMe {
        height: 23rem;
    }

    .introduction-contents {
        padding: 0;
    }

    .introduction-text p {
        padding-left: 0;
        font-size: 18px;
    }

    .introduction-text h2 {
        padding-left: 0;
        font-size: 24px;
    }

    /* End About Me */
}

@media (min-width: 500px) and (max-width: 767.98px) {
    /* About Me */
    #aboutMe {
        height: 18rem;
    }

    .introduction-contents {
        padding: 0;
    }

    .introduction-text p {
        padding-left: 0;
    }

    .introduction-text h2 {
        padding-left: 0;
    }
    /* End About Me */
}

@media (min-width: 768px) and (max-width: 991.98px) {
    /* About Me */
    #aboutMe {
        height: 14.5rem;
    }

    .introduction-contents {
        padding: 0;
    }

    .introduction-text p {
        padding-left: 0;
    }

    .introduction-text h2 {
        padding-left: 0;
    }
    /* End About Me */
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #aboutMe {
        height: 14.5rem;
    }
}