@media screen and (min-width: 100px) {
    .carousel__slide img {
        object-fit: contain; 
        width: 100%; 
        height: auto; 
  }
}

@media screen and (max-width: 600px) {
    .carousel__thumbnails li {
        max-width: calc((100% / 2) - 20px);
    }
}

@media screen and (max-width: 576px) {
    /* About Me */
    #aboutMe {
        height: 20rem;
    }

    .introduction-contents {
        padding: 0;
    }

    .introduction-text p {
        padding-left: 0;
        font-size: 18px;
    }

    .introduction-text h2 {
        padding-left: 0;
        font-size: 24px;
    }
    /* End About Me */

    /* Skills */
    .slider:before,
    .slider:after {
        background: none;
    }
    /* End kills */

    /* Education */
    .institutions {
        width: auto;
        display: block;
    }

    .fortec,
    .unip {
        float: none;
        width: auto;
        margin-left: 0;
        padding-left: 0;
        margin-right: 0;
        padding-right: 0;
    }

    .institutions-img img {
        display: block;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* End education */

    /* Languages */ 
    .flags img {
        width: 80px;
        height: 80px;
    }
    /* End languages */
}

@media (min-width: 500px) and (max-width: 767.98px) {
    /* About Me */
    #aboutMe {
        height: 17rem;
    }

    .introduction-contents {
        padding: 0;
    }

    .introduction-text p {
        padding-left: 0;
    }

    .introduction-text h2 {
        padding-left: 0;
    }
    /* End About Me */

    /* Skills */
    .slider:before,
    .slider:after {
        background: none;
    }
    /* End kills */

    /* Languages */ 
    .flags img {
        width: 100px;
        height: 100px;
    }
    /* End languages */
}

@media (min-width: 768px) and (max-width: 991.98px) {
    /* About Me */
    #aboutMe {
        height: 14.5rem;
    }

    .introduction-contents {
        padding: 0;
    }

    .introduction-text p {
        padding-left: 0;
    }

    .introduction-text h2 {
        padding-left: 0;
    }
    /* End About Me */
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #aboutMe {
        height: 14.5rem;
    }
}