:root {
    --dark-navy: #190482;
    --purple-blue: #7752FE;
    --light-purple: #AA8EFA;
    --gray-purple-blue: #8E8FFA;
    --light-blue: #C2D9FF;
}

/* Navbar */
.container {
    background-color: var(--gray-purple-blue);
    position: fixed;
    margin: 0;
    padding: 0;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--gray-purple-blue);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-list li {
    display: inline;
}

li a {
    color: white;
    padding: 1rem 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.5;
} 

li a:hover{
    background-color: var(--light-blue);
    color: var(--dark-navy);
    font-size: 1rem;
    opacity: 1;
}
/* End navbar */

/* Personal introduction */
#intro-text {
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-weight: bold;
    color: white;
    background: var(--gray-purple-blue);
    padding: 2.5rem;
}

#intro-text span {
    color: var(--dark-navy);
}

#introduction {
    padding: 1.5rem;
    width: auto;
    height: 30vh;
    background-color: var(--light-blue);
}

.introduction-contents {
    width: 50rem;
    padding-left: 3.5rem;
}

.introduction-text p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.introduction-image img {
    width: 10rem;
    height: 10rem;
    border-radius: 15% 15% 5% 5%;
    float: right;
    margin-left: 30px;
}
/* End personal introduction */

/* Programming knowledge */
hr {
    clear: left;
}

#programming-language-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

#programming-language-carousel img, #education img {
    width: 6rem;
    height: 6rem;
}
/* End programming knowledge */

/* Education */
h2 {
    font-family: 'PT Serif', serif;
    font-style: bold;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

.institutions {
    display: flex;
    flex-direction: row;
}

.institutions span {
    font-style: italic;
}

.institutions img, .community-activity img {
    float: left;
    margin-right: 30px;
    border-radius: 25% 25% 25% 25%;
}

.float-fortec {
    float: left;
    width: 30rem;
    height: 10rem;
    margin-right: 30rem;
}

.float-unip {
    float: right;
    width: 30rem;
    height: 10rem;
}
/* End education */

/* Languages */
.languages {
    clear: left;
}

.languague-banners, .language_level {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End languages */

/* Community */
.orange {
    float: left;
    width: 30rem;
    height: 10rem;
}
/* End community */

/* Contact me */
.contact {
    clear: left;
}

.contact i {
    height: 1.5rem;
    width: 1.5rem;
    color: black;
}
/* End contact me */

footer {
    clear: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-style: normal;
}