:root {
    --dark-navy: #190482;
    --purple-blue: #7752FE;
    --gray-purple-blue: #8E8FFA;
    --light-blue: #C2D9FF;
}

.intro {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
    margin-left: 2rem;
}

.intro img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-left: 15rem;
}

.intro span {
    color: var(--purple-blue);
}

.programming-language-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.programming-language-carousel img, .education img {
    width: 6rem;
    height: 6rem;
}

h2 {
    font-family: 'PT Serif', serif;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

.institutions span {
    font-style: italic;
}

.institutions img, .community-activity img {
    float: left;
}

.float-fortec {
    float: left;
}

.float-unip {
    float: right;
}

.orange {
    float: left;
}

.languague-banners, .language_level {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    clear: left;
}

footer {
    clear: left;
    display: flex;
    justify-content: center;
    align-items: center;
}